<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAny-lzmRdAuerwr19OzazUL56-919ZLyw</string>
	<key>GCM_SENDER_ID</key>
	<string>955794817200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paasora.partner</string>
	<key>PROJECT_ID</key>
	<string>paasora-dba3c</string>
	<key>STORAGE_BUCKET</key>
	<string>paasora-dba3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955794817200:ios:df80fa839eb603c238bb75</string>
</dict>
</plist>